/* Universal settings */

body {
  margin: 0;
  padding: 0;
  font-family: verdana, sans-serif;
  background-color: #eaf5ff;
}

/* Profile Container */

.profile-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 5em;
}

.profile-container .profile-img {
  border-radius: 100%;
}

.profile-container h1 {
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #66bfbf;
  line-height: 2;
}

.profile-container .profile-img {
  margin-bottom: 2.2em;
  border-radius: 11px;
}

.profile-container h2 {
  margin: 0px;
  font-family: 'Sacramento', cursive;
  font-size: 3.2rem;
  font-weight: normal;
  color: #66bfbf;
}

.profile-container p {
  font-size: 1.5rem;
  margin-block: 2.5em;
  width: 900px;
  color: #66bfbf;
}

.profile-container .socialMedia-container {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
}

.profile-container .socialMedia-container img {
  cursor: pointer;
}

.profile-container .socialMedia-container img:hover {
  opacity: 0.5;
}

.profile-container .sli div.skills {
  width: 50%;
}

/* Skills Container Related Stylings */

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  margin-bottom: 5em;
}

.skills-container h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.2rem;
}

.skills-container .innerSkills-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 900px;
}

.skills-container .innerSkills-container div {
  position: relative;
}

.skills-container .innerSkills-container div span {
  position: absolute;
  transform: scale(0);
  left: 0;
  bottom: 23px;
  width: 100%;
  text-align: center;
  transition: all 300ms;
  font-size: 1.3rem;
  opacity: 0.4;
  text-decoration: none;
}

.skills-container .innerSkills-container img {
  width: 130px;
  margin: 3em;
  transition: transform 0.3s ease-in;
}

.skills-container .innerSkills-container div:hover img {
  transform: scale(0.9);
  filter: brightness(90%);
}

.skills-container .innerSkills-container div:hover span {
  transform: scale(1);
  opacity: 1;
}

/* Project Container Related Stylings */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container .projectsInner-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 1900px;
}

.projects-container .projectsInner-container .projectsImage-container {
  overflow: hidden;
  margin: 2em;
  border-radius: 11px;
  position: relative;
}

.projects-container
  .projectsInner-container
  .projectsImage-container
  .project-image {
  width: 850px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  transition: all 500ms ease;
}

.projects-container
  .projectsInner-container
  .projectsImage-container:hover
  .project-image {
  transform: scale(1.07);
  filter: blur(2px);
}

.projects-container
  .projectsInner-container
  .projectsImage-container
  .imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  color: white;
  background-color: #1c1d25;
  opacity: 0;
  padding: 1em;
  transition: all 450ms ease;
  z-index: 2;
  transform: translateY(100%);
}

.projects-container
  .projectsInner-container
  .projectsImage-container:hover
  .imageOverlay {
  transform: translateY(0);
  opacity: 0.8;
}

.projects-container
  .projectsInner-container
  .projectsImage-container
  .imageContext-container {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(200%);
  opacity: 0;
  z-index: 9;
  color: white;
  margin: 1.1em;
  transition: all 500ms ease;
}

.projects-container
  .projectsInner-container
  .projectsImage-container
  .imageContext-container
  p {
  font-size: 1rem;
}

.projects-container
  .projectsInner-container
  .projectsImage-container:hover
  .imageContext-container {
  transform: translateY(0%);
  opacity: 1;
}

.projects-container
  .projectsInner-container
  .projectsImage-container
  .imageContext-container
  a {
  display: inline-block;
  cursor: pointer;
}

.projects-container
  .projectsInner-container
  .projectsImage-container
  .imageContext-container
  a
  img {
  position: relative;
  width: 50px;
  filter: blur(0px);
  bottom: 0;
  animation: hoveringUp 500s ease infinite linear;
}

.projects-container
  .projectsInner-container
  .projectsImage-container
  .imageContext-container
  a
  img:hover {
  opacity: 0.5;
}

@keyframes hoveringUp {
  0% {
    bottom: 0;
  }

  50% {
    bottom: -50px;
  }

  100% {
    bottom: 0;
  }
}

/*  Cloud image styling     */

img.top-cloud {
  position: absolute;
  top: 50px;
  right: 450px;
}

img.bottom-cloud {
  position: absolute;
}

/* media queries */

@media only screen and (max-width: 1850px) {
  .projects-container .projectsInner-container {
    width: 90%;
  }

  .projects-container
    .projectsInner-container
    .projectsImage-container
    .project-image {
    width: 100%;
  }
}

/* ---------------------- */

@media only screen and (max-width: 1000px) {
  .projects-container .projectsInner-container {
    width: 100%;
  }

  .profile-container p {
    width: 700px;
  }

  .skills-container .innerSkills-container {
    width: 95%;
  }
}

/* ---------------------- */

@media only screen and (max-width: 750px) {
  .projects-container .projectsInner-container .projectsImage-container {
    margin: 1em;
  }

  .profile-container p {
    width: 90%;
    font-size: 1.2rem;
  }

  .profile-container h1 {
    font-size: 4rem;
  }

  .profile-container h2 {
    font-size: 2.5rem;
  }
}

/* ---------------------- */

@media only screen and (max-width: 600px) {
  .profile-container h1 {
    font-size: 3.5rem;
  }
}

/* ---------------------- */

@media only screen and (max-width: 480px) {
  .profile-container h1 {
    font-size: 3.2rem;
  }

  .profile-container h2 {
    font-size: 2.2rem;
  }
}

/* ---------------------- */

@media only screen and (max-width: 440px) {
  .profile-container h1 {
    font-size: 2.5rem;
  }

  .profile-container h2 {
    font-size: 2rem;
  }
}
